*
    margin: 0
    padding: 0
    box-sizing: border-box

$dardBlack : #212121
$lightBlack : #3b3b3b
img
    position: absolute

.gameParent
    .coinsImgs
        width: 100%
        height: 50vh
    .dial
        width: 100%
        height: 50vh
        display: flex
        justify-content: center
        align-items: center
        background: $dardBlack
        .dialContent
            width: 50%
            input
                width: 100%
                height: 3rem
                border: none
                background: transparent
                border: 1px solid $lightBlack
                color: white
                padding: 0 1rem
            .ok
                width: 100%
                height: 50px
                margin-top: 1rem
            @media screen and (max-width:500px)
                width: 95%
        .buttons
            margin-top: 1rem
            display: grid
            grid-template-columns: repeat(3,1fr)
            grid-template-rows: repeat(4,40px)
            gap: 1rem
        button
            background: $lightBlack
            color: white
            border: none